<% content_for :title do %>
  Game Master's Companion
<% end %>
<div class="row">
  <div class="col-md-12">
    <h3><%= @encounter.name %></h3>
    <h4>&ensp;-<%= @encounter.notes %></h4>
    <h4>Loot: <%= @encounter.loot %></h4>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-8">
    <h4>Party Members</h4>
    <% @encounter.characters.each do |char| %>
      <p><%= char.name %></p>
    <% end %>
  </div>
  <div class="col-md-4">
    <h4>Enemies</h4>
    <% @enemies.each do |enemy| %>
      <p><%= enemy.name %></p>
    <% end %>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-md-8">
    <h4> <a href="/campaigns/<%= @campaign.slug %>/encounters/<%= @encounter.id %>/edit_encounter">Edit Encounter</a> </h4>
  </div>
  <div class="col-md-4">
    <h4><a href="/campaigns/<%= @campaign.slug %>">Back to Campaign</a></h4>
  </div>
</div>
