<h1>character show page</h1>
<div class="container">
  <div class="wrapper half"
    <div class="row">
      <div class="col-md-12">
        <h3><%= @character.name %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>AC: <%= @character.ac %></h4>
      </div>
      <div class="col-md-3">
        <h4>HP: <%= @character.hp %></h4>
      </div>
      <div class="col-md-3">
        <h4>Passive Perception: <%= @character.passive_perception %></h4>
      </div>
      <div class="col-md-3">
        <h4>XP: <%= @character.xp %></h4>
      </div>
      <div class="col-md-12">
        <h4>Stats: <%= @character.stats %></h4>
      </div>
      <div class="col-md-12">
        <h4><%= @character.notes %></h4>
      </div>
    </div>
    <br><br>
    <!-- LINKS -->
    <div class="row">
      <div class="col-md-8">
        <h4> <a href="/campaigns/<%= @campaign.slug %>/characters/<%= @character.id %>/edit_character">Edit character</a> </h4>
      </div>
      <div class="col-md-4">
        <h4><a href="/campaigns/<%= @campaign.slug %>">Back to Campaign</a></h4>
      </div>
    </div>
<!--    <form class="" action="/campaigns/<%= @campaign.slug %>/characters/<%= @character.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-warning">Delete Character</button>
    </form>  -->
  </div>
</div>
