<% content_for :title do %>
  Game Master's Companion
<% end %>

<div class="boxit"><h3><%= @campaign.name %></h3>
<h4>&ensp;-<%= @campaign.setting %></h4>
<p><%= @campaign.notes %></p>
<br></div>

<div class="row">
  <div class="col-md-4">
    <h4>Players</h4>
    <dl class="thin_box"><% @campaign.characters.each do |char| %>
      <% if !!char.is_player %>
        <dt><a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id    %>"><%= char.name %></a></dt>
        <div class="row">
          <div class="col-md-4">
            <dd>AC: <%= char.ac %></dd>
          </div>
          <div class="col-md-4">
            <dd>HP: <%= char.hp %></dd>
          </div>
          <div class="col-md-4">
            <dd>Perc: <%= char.passive_perception %></dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <dd>Stats: <%= char.stats %></dd>
          </div>
        </div>
        <br>
        <% end %>
      <% end %>
    </dl>

    <h4>NPCs</h4>
    <dl class="thin_box"><% @campaign.characters.each do |char| %>
      <% if !char.is_player %>
      <dt><a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id    %>"><%= char.name %></a></dt>
      <div class="row">
        <div class="col-md-4">
          <dd>AC: <%= char.ac %></dd>
        </div>
        <div class="col-md-4">
          <dd>HP: <%= char.hp %></dd>
        </div>
        <div class="col-md-4">
          <dd>Perc: <%= char.passive_perception %></dd>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dd>Stats: <%= char.stats %></dd>
        </div>
      </div>
      <br>
      <% end %>
    <% end %>
    </dl>

    <p><a href="/campaigns/<%= @campaign.slug %>/create_character">Add    Character</a></p>
    <br><br>
  </div>
  <div class="col-md-4">
    <h4>Encounters</h4>
      <dl class="thin_box"><% @campaign.encounters.each do |en| %>
        <dt><a href="/campaigns/<%= @campaign.slug %>/encounters/<%= en.id    %>"><%= en.name %></a></dt>
        <dd><%= en.notes %></dd>
        <br>
      <% end %>
      
    </dl>

    <p><a href="/campaigns/<%= @campaign.slug %>/create_encounter">Add Encounter</a></p>
  </div>
  <div class="col-md-4">
    <h4>Enemies</h4>
    <dl class="thin_box"><% @campaign.enemies.each.with_index do |enemy,i| %>
      <% if i > @campaign.enemies.length - 5 %>
        <dt> <a href="#"><%= enemy.category %></a> </dt>
        <div class="row">
          <div class="col-md-4">
            <dd>CR: <%= enemy.cr %></dd>
          </div>
          <div class="col-md-4">
            <dd>HP: <%= enemy.hp %></dd>
          </div>
          <div class="col-md-4">
            <dd>AC: <%= enemy.ac %></dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <dd>Damage: <%= enemy.damage %></dd>
          </div>
          <div class="col-md-4">
            <dd>Perception: <%= enemy.passive_perception %></dd>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
    </dl>
    <p><a href="/campaigns/<%= @campaign.slug %>/create_enemy">Add Enemy</a></p>
  </div>
</div> <!-- End of Row -->
<div class="row">
  <div class="col-md-8">
    <h3> <a href="/campaigns/<%= @campaign.slug %>/edit">Edit this campaign</a>
    </h3>
  </div>
  <div class="col-md-4">
    <h3><a href="/">Back to campaigns</a></h3>
  </div>
</div>
