<% content_for :title do %>
  Game Master's Companion
<% end %>

<div class="boxit"><h3><%= @campaign.name %></h3>
<h4>&ensp;-<%= @campaign.setting %></h4>
<p><%= @campaign.notes %></p>
<br></div>

<div class="row">
  <div class="col-md-6"><div class="col-md-6">
    <h4>Players</h4>
    <dl class="thin_box"><% @players.each do |char| %>
      <dt><a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id    %>"><%= char.name %></a></dt>
      <div class="row">
        <div class="col-md-4">
          <dd>AC: <%= char.ac %></dd>
        </div>
        <div class="col-md-4">
          <dd>HP: <%= char.hp %></dd>
        </div>
        <div class="col-md-4">
          <dd>Perc: <%= char.passive_perception %></dd>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dd>Stats: <%= char.stats %></dd>
        </div>
      </div>
      <br>
    <% end %>
    </dl>
    <p><a href="/campaigns/<%= @campaign.slug %>/create_character">Add    Character</a></p>
  </div>
  <div class="col-md-6">
    <h4>NPCs</h4>
    <dl class="thin_box"><% @campaign.characters.each do |char| %>
      <dt><a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id    %>"><%= char.name %></a></dt>
      <div class="row">
        <div class="col-md-4">
          <dd>AC: <%= char.ac %></dd>
        </div>
        <div class="col-md-4">
          <dd>HP: <%= char.hp %></dd>
        </div>
        <div class="col-md-4">
          <dd>Perc: <%= char.passive_perception %></dd>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dd>Stats: <%= char.stats %></dd>
        </div>
      </div>
      <br>
    <% end %>
    </dl>

    <p><a href="/campaigns/<%= @campaign.slug %>/create_character">Add Friendly NPC</a></p>
    <br><br>
  </div></div>

  <div class="col-md-6"><div class="col-md-6">
    <h4>Recent Enemies</h4>
    <dl class="thin_box"><% @campaign.characters.each.with_index do |char,i| %>
      <% if char.category == "enemy" %>
        <dt> <a href="#"><%= char.name %></a> </dt>
        <div class="row">
          <div class="col-md-4">
            <dd>CR: <%= char.cr %></dd>
          </div>
          <div class="col-md-4">
            <dd>HP: <%= char.hp %></dd>
          </div>
          <div class="col-md-4">
            <dd>AC: <%= char.ac %></dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <dd>Damage:</dd>
          </div>
          <div class="col-md-4">
            <dd>Perception: <%= char.passive_perception %></dd>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
    </dl>
    <p><a href="/campaigns/<%= @campaign.slug %>/create_enemy">Add Enemy</a></p>
  </div>
  <div class="col-md-6">
    <h4>Recent Encounters</h4>
      <dl class="thin_box"><% @campaign.encounters.reverse.each.with_index do |en,i| %>
        <% if i > @campaign.encounters.length - 4 %>
          <dt><a href="/campaigns/<%= @campaign.slug %>/encounters/<%= en.id    %>"><%= en.name %></a></dt>
          <dd><%= en.notes %></dd>
          <br>
        <% end %>
      <% end %>
    </dl>

    <p><a href="#">View All Encounters</a></p>
    <p><a href="/campaigns/<%= @campaign.slug %>/create_encounter">Add Encounter</a></p>
  </div></div>
</div> <!-- End of Row -->
<div class="row">
  <div class="col-md-8">
    <h3> <a href="/campaigns/<%= @campaign.slug %>/edit">Edit this campaign</a>
    </h3>
  </div>
  <div class="col-md-4">
    <h3><a href="/">Back to campaigns</a></h3>
  </div>
</div>
